.App {
  text-align: center;
}
#home{
  padding: 30px 100px;
}

.h1-primary{
  color: rgb(1, 1, 72)
}
.h2-primary{
  color: rgb(7, 186, 246);
}
p{
  color: darkblue;
}
.btn1{
  margin: 1rem;
}
.bgg{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hiw-cols-first {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}